.contenedor-timer-1{
    background-color: rgb(247, 247, 247);
    width: 150px;
    padding: 1em;
    display: flex;
    flex-flow: column;
    border-radius: .50em;
    border-top: 4px solid rgb(21, 95, 255);
}

.contendor-timer-1-icono{
    height: 50%;
}
.contendor-timer-1-reloj{
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.5rem;
}

.icono-bootstrap{
    font-size: 1.5rem;
}